_default:
    cargo just --list -u

init:
    cargo tool --install
{% if wasm %}
build-wasm:
    cargo tool wasm-pack build --target web

serve:
    cargo just serve-watch &
    cargo just serve-preview

serve-watch:
    cargo tool cargo-watch -x 'tool wasm-pack build --dev --target web'

serve-preview:
    cargo tool miniserve . --index "index.html" -p 8080
{% endif %}
lint: lint-check

lint-check:
    cargo clippy --no-deps --all-targets --all-features -- -D warnings

lint-fix:
    cargo clippy --no-deps --all-targets --all-features --fix

format: format-fix

format-check:
    cargo fmt --all -- --check
    cargo tool taplo format --check

format-fix:
    cargo fmt --all
    cargo tool taplo format

fix:
    cargo just format-fix
    cargo just lint-fix

check:
    cargo just format
    cargo just lint
{% if crate_type == "lib" %}
doc:
    cargo doc --all-features --no-deps --open --lib

doc-gen:
    cargo clean --doc
    cargo doc --no-deps
    echo '<meta http-equiv="refresh" content="0;url={{project-name}}/index.html">' > target/doc/index.html
    rm target/doc/.lock
{% endif %}
test *ARGS:
    cargo tool cargo-nextest run {% raw %}{{ARGS}}{% endraw %}
{% if crate_type == "lib" %}
test-doc *ARGS:
    cargo test {% raw %}{{ARGS}}{% endraw %} --doc
{% endif %}
{% if wasm %}
test-wasm *ARGS:
    cargo tool wasm-pack test {% raw %}{{ARGS}}{% endraw %}
{% endif %}
test-all:
    cargo just test --all-features
    {% if crate_type == "lib" %}cargo just test-doc --all-features{% endif %}
    {% if wasm %}cargo just test-wasm --chrome --headless{% endif %}
coverage *ARGS:
    cargo tool cargo-llvm-cov --lib --open

coverage-gen:
    cargo tool cargo-llvm-cov --lib --lcov --output-path lcov.info
