# {{project-name}}

{{description}}
{% if publishable %}
<!--
[![Test](https://github.com/crates-lurey-io/{{project-name}}/actions/workflows/test.yml/badge.svg)](https://github.com/crates-lurey-io/{{project-name}}/actions/workflows/test.yml)
[![Crates.io Version](https://img.shields.io/crates/v/{{project-name}})](https://crates.io/crates/{{project-name}})
[![codecov](https://codecov.io/gh/crates-lurey-io/{{project-name}}/graph/badge.svg?token=Z3VUWA3WYY)](https://codecov.io/gh/crates-lurey-io/{{project-name}})
-->
{% endif %}

## Contributing

This project uses [`just`][] to run commands the same way as the CI:

- `cargo just check` to check formatting and lints.
- `cargo just coverage` to generate and preview code coverage.
- `cargo just doc` to generate and preview docs.
- `cargo just test` to run tests.

[`just`]: https://crates.io/crates/just

For a full list of commands, see the [`Justfile`](./Justfile).
